# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
FunctionApp/ClientApp/node_modules/
FunctionApp/ClientApp/.pnp

FunctionApp/ClientApp/.pnp.js

# testing
FunctionApp/ClientApp/coverage

# production
FunctionApp/ClientApp/build

# misc
FunctionApp/ClientApp.DS_Store
FunctionApp/ClientApp.env.local
FunctionApp/ClientApp.env.development.local
FunctionApp/ClientApp.env.test.local
FunctionApp/ClientApp.env.production.local

FunctionApp/ClientApp/npm-debug.log*
FunctionApp/ClientApp/yarn-debug.log*
FunctionApp/ClientApp/yarn-error.log*

# .NET
bin/
obj/
.vs/